/*For choosing fonts: https://fonts.google.com/ */

body {
    background: (white);
    color: black;
    margin: 0 auto;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 600px;
}

title {
    text-align: center;
    color: #228b22;
}

div {
    min-height: 5vh;
    border: 0px
    margin: 40px 0 0 0;
}


img {
    padding: 0px;
    border-radius: 0%;
}

p {
    text-align: center;
    color: black;
}

h4 {
    text-align: left;
    font-size: 2em;
    color: #228b22;
}

.h4cta{
    width: 100%;
    text-align: center;
    text-transform: uppercase
    font-weight: 700;
    margin-top:0;
    margin-bottom:0
    }

.h2cta{
    width:100%;
    text-align:center;
    font-size: medium;
    font-style: bold;
    text-shadow:1px 1px 10px black
}

h6 {
    text-align: right;
    font-size: 2em;
    color: #228b22;
}

.plant_button{
    text-align: center;
}


h3 {
    text-align: left;
}

.section {
    background: #e2e8f0;
}

.section_one {
    text-align: center;
    color: white;
    background-image: url('images/flowers.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 23vh;
}

.section_two {
    text-align: center;
    color: white;
    background-image: url('images/flowers.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.section_three {
    background: #e2e8f0;
    text-align: left;
}

.section_six{
    text-align: left;
}

.cta-wrapper {
    text-align: center;
    background-image: url('images/plantone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 23vh;
}

.nextCta__slider-link1 {
    <a href="plants.html"></a>
}

.nextCta__slider-link2 {
    <a href="pot.html"></a>
}

.nextCta__slider-link3 {
    <a href="delivery.html"></a>
}

/*For the Form Entry*/

.nextCta__slider-link4 {
    <a href="#"></a>
}

.nextCta__slider {
    width: 100%;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    margin-top: .75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-width: 3px;
    border-color: #fff;
    outline: 0;
    border-radius: 9999px;
    height: 70px;
    background: hsla(0, 0%, 64.3%, .86);
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
    max-width: 350px
}

.nextCta__slider::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 9999px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transition: all 5s ease-in;
    transition: all 5s ease-in;
    width: 57px;
    height: 57px;
    background-image: url(images/right-arrow.png);
    background-size: 90%
}

.form-group{
    padding: 25px;

}

h1 {
    text-align: center;
    color: #228b22;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

h3 {
    font-size: 0.9em;
}

th, td {
    padding: 25px;
}

th {
    text-align: center;
    text-decoration: underline;
}

.button {
    position: absolute;
    top: 50%;
}

.subscribe_button{
    padding: 5px 70px 50px 90px;
}

td {
    vertical-align: top;
    text-align: left;
    height: 30px;
    border: 1px solid black;
}

ul.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color:hsla(0, 0%, 64.3%, .86);
    border: 1px solid #000000;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #285AEB;
}

.carousel-item {
    transition: transform 2s ease, opacity .2s ease-out;
}
.carousel-caption {
    position: relative;
    text-align: center;
    color: white;
}
.carousel-inner2 {
    height: 400px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* <---Need to work out new way to style this carousel with new images
h5 {
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    padding: 10px;
}

.p_carousel {
    color: white;
    position: absolute;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
*/

/*
li {
    color: white;
    text-align: left;
    padding-left: 25px;
}
*/
.section_four {
    text-align: right;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 50px;
    line-height: 45px;
    vertical-align: middle;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 50px;
    line-height: 45px;
    vertical-align: middle;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 50px;
    line-height: 45px;
    vertical-align: middle;
  }
  
  .fa-instagram {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 50px;
    line-height: 45px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 50px;
    line-height: 45px;
    vertical-align: middle;
  }

  .social-buttons{
      text-align: center;
  }