body{
    background: (white);
    color: black; 
    margin: 0px;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


title{
    text-align: center;
    color: #228b22;
}

div{
    min-height: 5vh;
    border: 0px

}

img {
    padding: 0px;
    margin: 0 auto;
    border-radius: 0%;
}

.section{
    background: #e2e8f0;
}

.section_one{
    background: #e2e8f0;
    text-align: center;
}

.section_two{
    background: #e2e8f0;
    text-align: center;
}

.section_three{
    background: #e2e8f0;
    text-align: center;
}


h1{
    text-align: left;
    color: #228b22;
    font-size: 2em;
}


h2{ 
    text-align: center;
}

h3 {
    font-size: 1em;
}

button{
    margin-left: 0px;
    background: rgb(59, 255, 239);
    font: white; 
    font-display: centre;
    border-radius: 5%;
    padding: 0;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    border-color: #e2e8f0;
    border-width: 10, 10, 10, 10;
    border-style: solid;
}


th, td {
    padding: 25px;

}

th{
    text-align: center;
    text-decoration: underline;
}

td{
    vertical-align: top;
    text-align: left;
    height: 30px;
    border: 1px solid black;
}


ul.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
